:root {
  --fuente-principal: "Libre Franklin", sans-serif;
  --bg-color: #444;
  --color-light: #eee;
  --color-link: #f1c40f;
  --color-border: #e74c3c;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: var(--fuente-principal);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--color-light);
  border-bottom: 6px solid var(--color-border);
  color: var(--bg-color);
  text-align: center;
}
.header h1 {
  font-size: clamp(2rem, 5vw, 8vw);
  font-weight: 700;
}

.main {
  width: min(95%, 75rem);
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 2rem;
}

.figure img {
  display: block;
  margin-bottom: 1.5rem;
  max-width: 100%;
  border-radius: 50%;
  border: 3px solid var(--color-light);
  transition: transform 300ms ease-in-out;
}

.figure img:hover {
  border-color: var(--color-link);
  transform: scale(1.05);
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  display: block;
  text-align: center;
  color: var(--color-link);
  font-size: clamp(1rem, 1.5vw, 4rem);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .main {
    margin: 125px auto;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    margin: 200px auto;
  }
}
